body {
    margin: 0 auto;
    background-color: #f8f8f8;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img {
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

main {
    width: 100%;
}

main {
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
    padding: 10px 30px;
}

h1 {
    text-align: center;
    font-size: 30px;
    border-bottom: solid 1px #31A263;
}

.confirm_message {
    text-align: center;
}

.confirm {
    padding-left: 40px;
}
form {
   display: inline-block;    
}

.button1 {
    border: 1px solid darkgray;
    color: white;
    font-size: 15px;
    background-color: lightgray;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width: 150px;
    padding: 10px 0px;
    margin-left: 220px;
    margin-top: 10px;
}

.button2 {
    border: 1px solid lightgray;
    color: white;
    font-size: 15px;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width: 150px;
    padding: 10px 0px;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}